#dnd-action-dragged-el {
    outline: none;
}

:root {
    --text: black;
    --bg-primary: white;
    --bg-secondary: white;
}

.gl-modalBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.15s;
    pointer-events: all;
}

.gl-modal {
    min-width: 25%;
    min-height: 200px;
    max-height: 80%;
    max-width: 80%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--bg-primary);
    color: var(--text);
    animation: zoomIn ease-out 0.15s;
    display: flex;
    flex-direction: column;
}

.gl-modal .title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.gl-modal .content {
    overflow-y: auto;
    flex: 1;
}

.gl-modal > .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
}

.gl-modal > .buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.gl-modal > .buttons button.close {
    background-color: transparent;
    text-decoration: underline;
}

.gl-modal > .buttons button.primary {
    background-color: #178635;
    color: white;
}

.gl-modal > .buttons button.danger {
    background-color: #ff4d4f;
    color: white;
}

.gl-errorMsg {
    white-space: pre-line;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}

.view-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.view-list {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.gl-row {
  display: flex;
  gap: 8px;
}

.gl-join {
  width: 100%;
  display: flex;
  gap: 8px;
}

.gl-join .openPlugins {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: none;
  background-color: rgb(30, 7, 107);
  width: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.gl-join .openPlugins:hover {
  background-color: rgb(43, 10, 155);
}

.gl-join .openPlugins svg {
  fill: white;
}

.noPluginButtons .gl-button,
.noPluginButtons *:has(> * > .gl-button2),
.noPluginButtons div:has(> * > * > .gl-button3),
.noPluginButtons div:has(> * > * > * > * > .gl-button5),
.noPluginButtons .gl-join .openPlugins,
.noPluginButtons .ant-space-item:has(.gl-listButton) {
  display: none;
}