.gl-row {
    display: flex;

    &.gap {
        gap: 8px;
    }

    &.gap-sm {
        gap: 4px;
    }
}

.gl-wrench, .gl-1dHostGameWrench {
    padding: 8px 12px;
    width: 20px;
    height: 20px;

    svg {
        fill: white;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%);
    }
}

.gl-join {
    width: 100%;
    display: flex;
    gap: 8px;

    .openPlugins {
        display: flex;
        align-items: stretch;
        justify-content: center;
        border: none;
        background-color: rgb(30, 7, 107);
        width: 40px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: rgb(43, 10, 155);
        }

        svg {
            fill: white;
        }
    }
}

.gl-homeWrench {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    .icon {
        width: 24px;
        height: 24px;
    }

    &.light {
        .text {
            color: white;

            &:hover {
                color: white;
            }
        }

        svg {
            fill: white;
        }
    }

    .text {
        font-size: 18px;
        color: rgb(22, 119, 255);
        font-weight: bold;
        cursor: pointer;
        
        &:hover {
            color: #69b1ff;
        }
    }
}

.gl-1dGameWrench {
    min-width: 23px;
    min-height: 23px;
    cursor: pointer;
    margin-left: 10px;
    padding-top: 7px;

    svg {
        fill: white;
    }
}

.noPluginButtons {
    .gl-1dGameWrench, .gl-1dLobbyButton,
    .gl-homeWrench, .gl-wrench, .openPlugins,
    .ant-space-item:has(.gl-homeWrench) + .ant-space-item-split,
    div:has(> * > * > * > .gl-wrench.lobby),
    button:has(> * > .gl-1dHostGameWrench),
    div:has(> * > * > .gl-wrench) {
        display: none;
    }
}